<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="Egor Bamburov">
        <meta name="description" content="News Analyzer">
        <link rel="shortcut icon" href="<%=require('../Images/mainIcon.png').default%>" type="image/x-icon">
        <title>О проекте</title>
        <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.about.css %>">
    </head>
    <body>
        <main class="page">
            <header class="header">
                <h1 class="header__title">NewsAnalyzer</h1>
                <nav class="header__links">
                    <a class="header__link-inactive" href="../index.html">Главная</a>
                    <a class="header__link-active" href="about.html">О проекте
                        <div class="header__underline"></div>
                    </a>
                </nav>
            </header>
            <section class="separator"></section>
            <section class="clients">
                <h2 class="clients__titel">Клиентам</h2>
                <p class="clients__text">Этот сайт — дипломный проект студента Яндкс.Практикума. Его цель — показать, чему научился студент, и какими технологиями владеет.</p>
                <p class="clients__text">Вёртска сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять новые страницы 
                    и функциальность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
                <p class="clients__text">Карточки с новостям приходят с сервера и обрабатываются асихронно. То есть сайт продолжает работать, пока от сервера приходит ответ.
                     Это повышает удобство использования сервиса.</p>
                <p class="clients__text">При создании проекта была использона сборка технологией Webpack. Это современных подход к разработке сайтов. Код оптимизируется, 
                    а значит, сайт работает быстрее. Также настроена сайт работает в старых браузерах. Даже если посетители — пользователи старых операционных систем у них не будет проблем 
                    с отображением. А значит потенциальная аудитория возрастает.</p>
                <p class="clients__text">Проект был проверен экспертами Яндекс.Практикума. И если вашему бизесу нужен сайт, мы рекомендуем обратиться к этому студенту.</p>
            </section>
            <section class="technology">
                <h2 class="technology__titel">Используемые <hr class="text__separator">технологии</h2>
                <div class="technology__cards">
                    <div class="technology__card">
                        <h3 class="card__text">HTML</h3>
                        <picture>
                            <img class="card__image" src="<%=require('../Images/html.png').default%>" alt="Логтип HTML">
                        </picture>
                    </div>
                    <div class="technology__card">
                        <h3 class="card__text">CSS</h3>
                        <picture>
                            <img class="card__image" src="<%=require('../Images/css.png').default%>" alt="Логтип CSS">
                        </picture>
                    </div>
                    <div class="technology__card">
                        <h3 class="card__text">Java Script</h3>
                        <picture>
                            <img class="card__image" src="<%=require('../Images/js.png').default%>" alt="Логтип Java Script">
                        </picture>  
                    </div>
                    <div class="technology__card">
                        <h3 class="card__text">Webpack</h3>
                        <picture>
                            <img class="card__image" src="<%=require('../Images/webpack.png').default%>" alt="Логтип Webpack">
                        </picture>
                    </div>
                </div>
            </section>
            <section class="author">
                <picture>
                    <img class="author__avatar" src="<%=require('../Images/avatar.jpg').default%>" alt="Фотография">
                </picture>
                <div class="author__text">
                    <h2 class="author__title">Об авторе</h2>
                    <p class="author__par">Это блок с описаением автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владете.</p>
                    <p class="author__par">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам. 
                        Если хотите, оставьте свои контакты: email и телефон. 
                        Так заказчики смогут с вами связаться.</p>
                </div>
            </section>
            <section class="github" style="display: none;">
                <div class="github__text">
                    <h2 class="github__title">История коммитов из GitHub</h2>
                    <a class="github__link" href="https://github.com/AshesToAshes13/NewsAnalyzer" target="_blank">Открыть в GitHub&nbsp;<picture><img src="<%=require('../Images/Path5.png').default%>" alt="Стрелочка"></picture></a>
                </div>
                <div class="github__list">
                    
                </div>
                <a class="github__button" href="https://github.com/AshesToAshes13/NewsAnalyzer" target="_blank">Открыть в GitHub</a>
            </section>
            <section class="searching" style="display: none;">
                <i class="searching__preloader"></i>
                <h2 class="searching__title">Загрузка...</h2>
            </section>
            <section class="error" style="display: none;">
                <picture> 
                    <img class="error__image" src="<%=require('../Images/not-found_v1.png').default%>" alt="Ошибка Сервера">
                </picture>
                <h2 class="error__titel">Нет доступа к серверу. Повторите позже.</h2>
            </section>
            <footer class="footer">
                <div class="footer__text">
                    <p class="footer__copyright">&copy; 2020 Егор Бамбуров</p>
                    <div class="footer__links">
                        <nav class="footer__navigation">
                            <a class="footer__link" href="../index.html">Главна<hr class="line__separator">я</a>
                            <a class="footer__link" href="about.html">О<hr class="line__separator">проекте</a>
                        </nav>
                        
                        <a class="footer__link" href="https://praktikum.yandex.ru" target="_blank">Яндекс.Практику<hr class="line__separator">м</a>
                    </div>
                </div>
                <div class="footer__links-social">
                    <a class="footer__link-social" href="https://github.com/AshesToAshes13/NewsAnalyzer" target="_blank"><picture>
                        <img src="<%=require('../Images/github.png').default%>" alt="Логотип GitHub">
                    </picture></a>
                    <a class="footer__link-social" href="https://ru-ru.facebook.com/" target="_blank"><picture>
                        <img src="<%=require('../Images/facebook.png').default%>" alt="Логотип FaceBook">
                    </picture></a>
                </div>
            </footer>
        </main>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
        
        <script src="<%= htmlWebpackPlugin.files.chunks.slick.entry %>"></script>
        <script type="module" src="<%= htmlWebpackPlugin.files.chunks.about.entry %>"></script>
    </body>
</html>