@import url('../__card/__image.css');
@import url('../__card/__date.css');
@import url('../__card/__titel.css');
@import url('../__card/__text.css');
@import url('../__card/__publisher.css');

.search__status-success__card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
}