.header__underline {
    height: 3px;
    width: 92px;
    background-color: #1A1B22;
    margin-top: 23px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__underline {
        margin-top: 13px;
    }
}