.search__request {
    width: 608px;
    border: 1px solid #d1d2d6;
    background-color: #ffffff;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #b6bcbf;
    box-sizing: border-box;
    z-index: 1;
    outline: none;
}

.search input[type="text"]{
    padding-left: 24px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.search__request:hover {
    background-color: #d1d1d1;
    color: black;
}

.search__request:active {
    color: black;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .search__request {
        width: 288px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .search__request {
        width: 448px;
    }
}