@import url('../blocks/header/header.css');
@import url('../blocks/separator/separator.css');
@import url('../blocks/clients/clients.css');
@import url('../blocks/technology/technology.css');
@import url('../blocks/author/author.css');
@import url('../blocks/github/github.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/searching/searching.css');
@import url('../blocks/error/error.css');

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/robotoslab-regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.page {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .page {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .page {
        width: 100%;
    }
}