.github__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #1A1B22;
    text-decoration: none;
    padding-bottom: 73px;
    margin: 0;
    padding-top: 13px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .github__link {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) { 
    .github__link {
        padding-top: 8px;
    }
}