@import url('../blocks/search/search.css');
@import url('../blocks/about/about.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/search__status/search__status.css');

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/robotoslab-regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.page {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .page {
        width: 320px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .page {
        width: 768px;
    }
}

