@import url('../clients/__title.css');
@import url('../clients/__text.css');

.clients {
    padding-top: 80px;
    padding-left: 104px;
    padding-bottom: 94px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .clients {
        padding: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .clients {
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 26px;
    }
}