.footer__link {
    font-family: Source Sans Pro, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    margin: 0;
    text-decoration: none;
    padding-right: 48px;
    transition: 0.4s ease-in-out;
}

.footer__link:last-of-type {
    padding-right: 0px;
}

.footer__link:hover {
    opacity: 0.6;
}

.line__separator {
    height: 1px;
    margin: 0;
    border: none;
}

.footer__link:first-of-type {
    padding-left: 240px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
        padding-right: 0px;
        text-align: left;
        padding-bottom: 24px;
    }
    .footer__link:first-of-type {
        padding-left: 0px;
    }
    .line__separator {
        display: none;
    }
    .footer__link:last-of-type {
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .footer__link:first-of-type {
        padding-left: 60px;
    }
    .footer__link {
        padding-right: 25px;
    }
}