.footer__links-social {
    display: flex;
    padding-right: 104px;
    padding-left: 320px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__links-social {
        padding-right: 16px;
        padding-left: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .footer__links-social {
        padding-right: 40px;
        margin-left: auto;
        padding-left: 0px;
    }
}