@import url('../footer/__copyright.css');
@import url('../footer/__links.css');
@import url('../footer/__links-social.css');
@import url('../footer/__link.css');
@import url('../footer/__link-social.css');
@import Url('../footer/__text.css');
@import url('../footer/__navigation.css');

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        height: auto;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .footer {
        width: 100%;
    }
}

