.graph-main__number {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: 0;
    width: 80px;
    text-align: center;
    padding-right: 182px;
}

.graph-main__number:last-of-type {
    padding-right: 0px;
    text-align: right;
}

.graph-main__number:first-of-type {
    text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .graph-main__number {
        padding-right: 0px;
    }
}