.graph-detail__date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #1A1B22;
    margin: 0;
    padding-right: 50px;
    width: 52px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .graph-detail__date {
        padding-right: 24px;
        
    }    
}