@import url('../search/header/__header.css');
@import url('../search/separator.css');
@import url('../search/__title.css');
@import url('../search/__subtitle.css');
@import url('../search/__form/__form.css');
@import url('../search/search-bg.css');
.search {
    display: flex;
    flex-direction: column;
    background: url(../search/georgia-de-lotz--UsJoNxLaNo-unsplash\ \(2\).jpg);
}