.search__status-searching__title {
    margin: auto;
    padding-top: 24px;
    font-family: Roboto, Arial;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
}